volumes:
  zabbix-postgres:
  zabbix-postgres-backups:

services:
  postgres:
    image: postgres:{{ postgres_version }}
    volumes:
      - zabbix-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -h 127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 60s
    restart: unless-stopped

  zabbix:
    image: zabbix/zabbix-server-pgsql:ubuntu-{{ zabbix_version }}
    environment:
      DB_SERVER_HOST: postgres
      DB_SERVER_PORT: 5432
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      ZBX_VALUECACHESIZE: 64M
      ZBX_CACHESIZE: 128M
      ZBX_TRENDCACHESIZE: 128M
    ports:
      - "10051:10051"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  web:
    image: zabbix/zabbix-web-nginx-pgsql:ubuntu-{{ zabbix_version }}
    environment:
      DB_SERVER_HOST: postgres
      DB_SERVER_PORT: 5432
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      ZBX_SERVER_HOST: zabbix
      ZBX_SERVER_PORT: 10051
      PHP_TZ: Europe/Moscow
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    ports:
      - "{{ zabbix_web_port }}:8080"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  agent:
    image: zabbix/zabbix-agent:ubuntu-{{ zabbix_version }}
    environment:
      ZBX_HOSTNAME: {{ zabbix_hostname }}
      ZBX_SERVER_HOST: zabbix
    ports:
      - "10050:10050"
    restart: unless-stopped
    depends_on:
      - postgres
      - zabbix

  backups:
    image: postgres:{{ postgres_version }}
    # Database backups prune interval (replace with yours). Default is {{ backup_keep_days }} days.
    # find /srv/zabbix-postgres/backups -type f -mtime +{{ backup_keep_days }} | xargs rm -f

    # Zabbix backups interval (replace with yours). Default is 1 day.
    # sleep 24h

    # Run zabbix-restore-database.sh to restore database if needed.
    command: sh -c 'sleep 30m
             && while true; do
             PGPASSWORD="$$(echo $$POSTGRES_PASSWORD)"
             pg_dump
             -h postgres
             -p 5432
             -d {{ postgres_db }}
             -U {{ postgres_user }} | gzip > /srv/zabbix-postgres/backups/zabbix-postgres-backup-$$(date "+%Y-%m-%d_%H-%M").gz
             && find /srv/zabbix-postgres/backups -type f -mtime +{{ backup_keep_days }} | xargs rm -f;
             sleep 24h; done'
    volumes:
      # Database backups location
      - zabbix-postgres-backups:/srv/zabbix-postgres/backups
    environment:
      # Database password (replace with yours)
      POSTGRES_PASSWORD: {{ postgres_password }}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      web:
        condition: service_healthy
